.562_561 { 
	overflow:hidden;
}
.e562_561 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e562_562 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e562_563 { 
	background-color:rgba(255, 255, 255, 1);
	width:1194px;
	height:951px;
	position:absolute;
	left:20px;
	top:16px;
}
.e562_564 { 
	width:1146px;
	height:49px;
	position:absolute;
	left:24px;
	top:70px;
}
.e572_436 { 
	width:124px;
	height:28px;
	position:absolute;
	left:79px;
	top:21px;
}
.e562_565 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_566 { 
	width:14px;
	height:14px;
	position:absolute;
	left:56px;
	top:5px;
	background-image:url(images/ordenar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_437 { 
	width:124px;
	height:28px;
	position:absolute;
	left:200px;
	top:21px;
}
.e562_567 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_568 { 
	width:14px;
	height:14px;
	position:absolute;
	left:110px;
	top:3px;
	background-image:url(images/ordenar_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_438 { 
	width:149px;
	height:28px;
	position:absolute;
	left:361px;
	top:21px;
}
.e562_569 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_570 { 
	width:14px;
	height:14px;
	position:absolute;
	left:131px;
	top:5px;
	background-image:url(images/ordenar_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_439 { 
	width:127px;
	height:28px;
	position:absolute;
	left:564px;
	top:0px;
}
.e562_571 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_572 { 
	width:14px;
	height:14px;
	position:absolute;
	left:113px;
	top:14px;
	background-image:url(images/ordenar_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_440 { 
	width:156px;
	height:28px;
	position:absolute;
	left:728px;
	top:21px;
}
.e562_573 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:156px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_574 { 
	width:14px;
	height:14px;
	position:absolute;
	left:142px;
	top:4px;
	background-image:url(images/ordenar_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_441 { 
	width:124px;
	height:29px;
	position:absolute;
	left:892px;
	top:0px;
}
.e562_575 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_576 { 
	width:14px;
	height:14px;
	position:absolute;
	left:110px;
	top:15px;
	background-image:url(images/ordenar_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.562_577 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_577 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:21px;
}
.e572_443 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1022px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_578 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:24px;
	top:136px;
}
.e562_579 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_580 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_581 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_582 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_583 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_584 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.562_585 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_585 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_444 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_445 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_446 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_447 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_448 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:24px;
	top:181px;
}
.e572_449 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_450 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_451 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_452 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_453 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_454 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_455 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_455 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_456 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_457 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_458 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_459 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_472 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:24px;
	top:224px;
}
.e572_473 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_474 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_475 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_476 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_477 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_478 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_479 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_479 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_480 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_481 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_482 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_483 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_484 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:24px;
	top:269px;
}
.e572_485 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_486 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_487 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_488 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_489 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_490 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_491 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_491 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_492 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_493 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_494 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_495 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_496 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:312px;
}
.e572_497 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_498 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_499 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_500 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_501 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_502 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_503 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_503 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_504 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_505 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_506 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_507 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_508 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:357px;
}
.e572_509 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_510 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_511 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_512 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_513 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_514 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_515 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_515 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_516 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_517 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_518 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_519 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_520 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:400px;
}
.e572_521 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_522 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_523 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_524 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_525 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_526 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_527 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_527 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_528 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_529 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_530 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_531 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_532 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:445px;
}
.e572_533 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_534 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_535 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_536 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_537 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_538 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_539 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_539 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_540 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_541 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_542 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_543 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_544 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:488px;
}
.e572_545 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_546 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_547 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_548 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_549 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_550 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_551 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_551 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_552 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_553 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_554 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_555 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_556 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:533px;
}
.e572_557 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_558 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_559 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_560 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_561 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_562 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_563 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_563 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_564 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_565 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_566 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_567 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_568 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:576px;
}
.e572_569 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_570 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_571 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_572 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_573 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_574 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_575 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_575 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_576 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_577 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_578 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_579 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_580 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:621px;
}
.e572_581 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_582 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_583 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_584 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_585 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_586 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_587 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_587 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_588 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_589 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_590 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_591 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_592 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:664px;
}
.e572_593 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_594 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_595 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_596 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_597 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_598 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_599 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_599 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_600 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_601 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_602 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_603 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_616 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:709px;
}
.e572_617 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_618 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_619 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_620 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_621 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_622 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_623 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_623 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_624 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_625 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_626 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_627 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_628 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:752px;
}
.e572_629 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_630 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_631 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_632 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_633 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_634 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_635 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_635 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_636 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_637 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_638 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_639 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_652 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:797px;
}
.e572_653 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_654 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_655 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_656 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_657 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_658 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_659 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_659 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_660 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_661 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_662 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_663 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_664 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:840px;
}
.e572_665 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_666 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_667 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_668 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_669 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_670 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_671 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_671 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_672 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_673 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_674 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_675 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_676 { 
	width:1126px;
	height:45px;
	position:absolute;
	left:25px;
	top:885px;
}
.e572_677 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_678 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_679 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:372px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_680 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:582px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_681 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:739px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_682 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:892px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_683 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_683 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:13px;
}
.e572_684 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1042px;
	top:12px;
}
.e572_685 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_686 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_687 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_690 { 
	width:336px;
	height:29px;
	position:absolute;
	left:24px;
	top:25px;
}
.e562_691 { 
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/lupa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_692 { 
	width:27px;
	height:27px;
	position:absolute;
	left:79px;
	top:2px;
	background-image:url(images/settings_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.562_693 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_693 { 
	width:196px;
	height:29px;
	position:absolute;
	left:140px;
	top:0px;
}
.e562_694 { 
	color:rgba(201.8750050663948, 198.51042240858078, 198.51042240858078, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:18px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_695 { 
	width:18px;
	height:18px;
	position:absolute;
	left:172px;
	top:7px;
	background-image:url(images/flecha_hacia_abajo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_11 { 
	width:351px;
	height:29px;
	position:absolute;
	left:892px;
	top:27px;
}
.e570_13 { 
	width:177px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e569_8 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_12 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e570_16 { 
	width:176px;
	height:29px;
	position:absolute;
	left:86px;
	top:0px;
}
.e569_10 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/editar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_14 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:27px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e570_17 { 
	width:179px;
	height:28px;
	position:absolute;
	left:172px;
	top:0px;
}
.e569_9 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/eliminar_amigo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_15 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e562_704 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:808px;
	position:absolute;
	left:1202px;
	top:135px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e562_705 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:12px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e578_568 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e578_570 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e578_571 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e578_572 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e578_573 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e578_574 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e578_575 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_714 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e562_719 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e562_720 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e562_721 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_722 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_723 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e562_724 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_726 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_727 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e562_728 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_729 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_751 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e562_752 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_753 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_754 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e562_734 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_735 { 
	width:40px;
	height:40px;
	position:absolute;
	left:12px;
	top:10px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_736 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e562_737 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_738 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_739 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e562_740 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_741 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_742 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e562_743 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_744 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_745 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e562_746 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_747 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_748 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e562_749 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_750 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
