.574_83 { 
	overflow:hidden;
}
.e574_83 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e574_84 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e574_85 { 
	background-color:rgba(255, 255, 255, 1);
	width:1185px;
	height:865px;
	position:absolute;
	left:27px;
	top:39px;
}
.e574_86 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:46px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e574_87 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:159px;
	height:75px;
	position:absolute;
	left:427px;
	top:700px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e574_88 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:47px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e574_89 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:274px;
	height:75px;
	position:absolute;
	left:624px;
	top:700px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e574_90 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:22px;
	position:absolute;
	left:30px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e574_91 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:114px;
}
.e574_92 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_92 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_93 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e574_94 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_95 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:186px;
}
.e574_96 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_96 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_97 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e574_98 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_99 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:258px;
}
.e574_100 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_100 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_101 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e574_102 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_103 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:330px;
}
.e574_104 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_104 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_105 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_106 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:402px;
}
.e574_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_107 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_108 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_109 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:474px;
}
.e574_110 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_110 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_111 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_112 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:546px;
}
.e574_113 { 
	background-color:rgba(212.4999949336052, 210.72916835546494, 210.72916835546494, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_113 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_114 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_115 { 
	color:rgba(191.25, 186.46874696016312, 186.46874696016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e574_116 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:618px;
}
.e574_117 { 
	background-color:rgba(212.4999949336052, 210.72916835546494, 210.72916835546494, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_117 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_118 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_165 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:0px;
	top:0px;
}
.e574_201 { 
	background-color:rgba(222.06250101327896, 218.36145401000977, 218.36145401000977, 0.5);
	width:1185px;
	height:865px;
	position:absolute;
	left:0px;
	top:0px;
}
.e574_202 { 
	background-color:rgba(255, 255, 255, 1);
	width:914px;
	height:437px;
	position:absolute;
	left:136px;
	top:214px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e574_212 { 
	background-color:rgba(101.99999392032623, 135.66000133752823, 255, 1);
	width:86px;
	height:38px;
	position:absolute;
	left:789px;
	top:377px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e574_213 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:11px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e574_214 { 
	background-color:rgba(255, 255, 255, 1);
	width:86px;
	height:38px;
	position:absolute;
	left:685px;
	top:377px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.574_214 { 
	border:1px solid rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
}
.e574_215 { 
	color:rgba(127.5, 126.43750101327896, 126.43750101327896, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:8px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e574_216 { 
	width:24px;
	height:24px;
	position:absolute;
	left:875px;
	top:15px;
	background-image:url(images/cerrar__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_223 { 
	width:751px;
	height:50px;
	position:absolute;
	left:81px;
	top:125px;
}
.e574_224 { 
	background-color:rgba(255, 255, 255, 1);
	width:540px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_224 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_225 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_226 { 
	width:751px;
	height:50px;
	position:absolute;
	left:81px;
	top:183px;
}
.e574_227 { 
	background-color:rgba(255, 255, 255, 1);
	width:540px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_227 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_228 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_229 { 
	width:751px;
	height:50px;
	position:absolute;
	left:81px;
	top:241px;
}
.e574_230 { 
	background-color:rgba(255, 255, 255, 1);
	width:540px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.574_230 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e574_231 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e617_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e617_36 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e617_37 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e617_38 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_39 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e617_40 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_41 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_127 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e574_132 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e574_133 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e574_134 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_135 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_136 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:72px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.574_136 { 
	border:1px solid rgba(33.64583417773247, 57.67856039106846, 80.74999898672104, 1);
}
.e574_137 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_139 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:10px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_140 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e574_141 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_142 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_143 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e574_144 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_145 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_146 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e574_147 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_148 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_149 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e574_150 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_151 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_152 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e574_153 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_154 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_155 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e574_156 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_157 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_158 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e574_159 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_160 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e574_161 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e574_162 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e574_163 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
