.555_191 { 
	overflow:hidden;
}
.e555_191 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e555_192 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e555_193 { 
	background-color:rgba(255, 255, 255, 1);
	width:1185px;
	height:865px;
	position:absolute;
	left:27px;
	top:39px;
}
.e555_194 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:46px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e555_295 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:159px;
	height:75px;
	position:absolute;
	left:427px;
	top:628px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e555_297 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:47px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e555_298 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:274px;
	height:75px;
	position:absolute;
	left:624px;
	top:628px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e555_299 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:22px;
	position:absolute;
	left:30px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e555_264 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:114px;
}
.e555_261 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.555_261 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e555_262 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_260 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_265 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:186px;
}
.e555_266 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.555_266 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e555_267 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_268 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_269 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:258px;
}
.e555_270 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.555_270 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e555_271 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_272 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_273 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:330px;
}
.e555_274 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.555_274 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e555_276 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_277 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:402px;
}
.e555_278 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.555_278 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e555_280 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_284 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:474px;
}
.e555_285 { 
	background-color:rgba(212.4999949336052, 210.72916835546494, 210.72916835546494, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.555_285 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e555_286 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_287 { 
	color:rgba(191.25, 186.46874696016312, 186.46874696016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_291 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:546px;
}
.e555_292 { 
	background-color:rgba(212.4999949336052, 210.72916835546494, 210.72916835546494, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.555_292 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e555_293 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e617_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e617_28 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e617_29 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e617_30 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_31 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e617_32 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_33 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_204 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e555_209 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e555_210 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e555_211 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_212 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_26 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:72px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.557_26 { 
	border:1px solid rgba(33.64583417773247, 57.67856039106846, 80.74999898672104, 1);
}
.e555_214 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_216 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:10px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_217 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e555_218 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_219 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_220 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e555_221 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_222 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_223 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e555_224 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_225 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_226 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e555_227 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_228 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_229 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e555_230 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_231 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_232 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e555_233 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_234 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_235 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e555_236 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_237 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_238 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e555_239 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e555_240 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
