.272_333 { 
	overflow:hidden;
}
.e272_333 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e272_334 { 
	background-color:rgba(28.68749924004078, 28.567967154085636, 28.567967154085636, 1);
	width:1440px;
	height:941px;
	position:absolute;
	left:0px;
	top:83px;
}
.e553_5 { 
	box-shadow:0px 0px 40px rgba(255, 255, 255, 1);
	width:320px;
	height:460px;
	position:absolute;
	left:560px;
	top:240px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e553_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:460px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e553_7 { 
	width:240px;
	height:40px;
	position:absolute;
	left:40px;
	top:200px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e553_8 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e553_9 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:241px;
	height:40px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e553_10 { 
	width:240px;
	height:40px;
	position:absolute;
	left:40px;
	top:280px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e553_11 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e553_12 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:241px;
	height:40px;
	position:absolute;
	left:-1px;
	top:2px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e553_13 { 
	width:288px;
	height:56px;
	position:absolute;
	left:10px;
	top:360px;
}
.e553_14 { 
	box-shadow:-2px 2px 1px rgba(0, 0, 0, 0.25);
	background-color:rgba(87.00000241398811, 186.0000041127205, 236.00000113248825, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:31px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e553_15 { 
	color:rgba(255, 255, 255, 1);
	width:241px;
	height:40px;
	position:absolute;
	left:30px;
	top:2px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e553_16 { 
	width:120px;
	height:40px;
	position:absolute;
	left:160px;
	top:21px;
}
.e553_17 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:24px;
	position:absolute;
	left:18px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e553_18 { 
	width:120px;
	height:40px;
	position:absolute;
	left:40px;
	top:21px;
}
.e553_19 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:24px;
	position:absolute;
	left:57px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e553_21 { 
	box-shadow:2px 4px 4px rgba(0, 0, 0, 0.5);
	width:109px;
	height:108px;
	position:absolute;
	left:105px;
	top:64px;
	background-image:url(images/login_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_58 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e617_60 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e617_61 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e617_62 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_63 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e617_64 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_65 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
