.601_10 { 
	overflow:hidden;
}
.e601_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e601_11 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e601_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:1185px;
	height:865px;
	position:absolute;
	left:27px;
	top:39px;
}
.e601_13 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:46px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e601_14 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:159px;
	height:75px;
	position:absolute;
	left:427px;
	top:700px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e601_15 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:47px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e601_16 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:274px;
	height:75px;
	position:absolute;
	left:624px;
	top:700px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e601_17 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:22px;
	position:absolute;
	left:30px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e601_18 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:114px;
}
.e601_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_19 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_20 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e601_21 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_22 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:186px;
}
.e601_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_23 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_24 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e601_25 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_26 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:258px;
}
.e601_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_27 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_28 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e601_29 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_30 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:330px;
}
.e601_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_31 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_32 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_33 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:402px;
}
.e601_34 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_34 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_35 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_36 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:474px;
}
.e601_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_37 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_38 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_39 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:546px;
}
.e601_40 { 
	background-color:rgba(212.4999949336052, 210.72916835546494, 210.72916835546494, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_40 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_41 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_42 { 
	color:rgba(191.25, 186.46874696016312, 186.46874696016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:231px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e601_43 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:618px;
}
.e601_44 { 
	background-color:rgba(212.4999949336052, 210.72916835546494, 210.72916835546494, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.601_44 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e601_45 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_63 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e601_65 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e601_66 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e601_67 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_68 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e601_69 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_70 { 
	box-shadow:0.5px 0.5px 0px rgba(255, 255, 255, 0.5);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_71 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e601_76 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e601_77 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e601_78 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_79 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_111 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e601_112 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_114 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_84 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:146px;
}
.e601_85 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_86 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_108 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:220px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e601_109 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_110 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_90 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e601_91 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_92 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_93 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e601_94 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_95 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_96 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:439px;
}
.e601_97 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_98 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_99 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:511px;
}
.e601_100 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_101 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_102 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e601_103 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_104 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e601_105 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e601_106 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e601_107 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
