.562_869 { 
	overflow:hidden;
}
.e562_869 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e562_870 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e562_871 { 
	background-color:rgba(255, 255, 255, 1);
	width:1194px;
	height:951px;
	position:absolute;
	left:20px;
	top:16px;
}
.e562_872 { 
	width:1141px;
	height:50px;
	position:absolute;
	left:24px;
	top:70px;
}
.e572_174 { 
	width:124px;
	height:28px;
	position:absolute;
	left:79px;
	top:21px;
}
.e562_873 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_874 { 
	width:14px;
	height:14px;
	position:absolute;
	left:56px;
	top:5px;
	background-image:url(images/ordenar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_175 { 
	width:168px;
	height:28px;
	position:absolute;
	left:200px;
	top:21px;
}
.e562_875 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:168px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_876 { 
	width:14px;
	height:14px;
	position:absolute;
	left:147px;
	top:3px;
	background-image:url(images/ordenar_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_177 { 
	width:149px;
	height:28px;
	position:absolute;
	left:395px;
	top:21px;
}
.e562_877 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_878 { 
	width:14px;
	height:14px;
	position:absolute;
	left:105px;
	top:5px;
	background-image:url(images/ordenar_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_178 { 
	width:120px;
	height:28px;
	position:absolute;
	left:542px;
	top:0px;
}
.e562_879 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_1172 { 
	width:14px;
	height:14px;
	position:absolute;
	left:106px;
	top:14px;
	background-image:url(images/ordenar_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_179 { 
	width:156px;
	height:28px;
	position:absolute;
	left:722px;
	top:21px;
}
.e562_881 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:156px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_882 { 
	width:14px;
	height:14px;
	position:absolute;
	left:142px;
	top:4px;
	background-image:url(images/ordenar_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_180 { 
	width:124px;
	height:29px;
	position:absolute;
	left:898px;
	top:0px;
}
.e562_883 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_884 { 
	width:14px;
	height:14px;
	position:absolute;
	left:110px;
	top:15px;
	background-image:url(images/ordenar_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.562_885 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_885 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:21px;
}
.e572_184 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1017px;
	top:22px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_886 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:24px;
	top:147px;
}
.e562_887 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_888 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_889 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_890 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_891 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_892 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.562_893 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_893 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_186 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_187 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_188 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_189 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_250 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:206px;
}
.e572_251 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_252 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_253 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_254 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_255 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_256 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_257 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_257 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_258 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_259 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_260 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_261 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_262 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:265px;
}
.e572_263 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_264 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_265 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_266 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_267 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_268 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_269 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_269 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_270 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_271 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_272 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_273 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_286 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:324px;
}
.e572_287 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_288 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_289 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_290 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_291 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_292 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_293 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_293 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_294 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_295 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_296 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_297 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_298 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:383px;
}
.e572_299 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_300 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_301 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_302 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_303 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_304 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_305 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_305 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_306 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_307 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_308 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_309 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_310 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:442px;
}
.e572_311 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_312 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_313 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_314 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_315 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_316 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_317 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_317 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_318 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_319 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_320 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_321 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_322 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:501px;
}
.e572_323 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_324 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_325 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_326 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_327 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_328 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_329 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_329 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_330 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_331 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_332 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_333 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_334 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:560px;
}
.e572_335 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_336 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_337 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_338 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_339 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_340 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_341 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_341 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_342 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_343 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_344 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_345 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_346 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:21px;
	top:619px;
}
.e572_347 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_348 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_349 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_350 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_351 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_352 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_353 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_353 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_354 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_355 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_356 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_357 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_358 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:20px;
	top:678px;
}
.e572_359 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_360 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_361 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_362 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_363 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_364 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_365 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_365 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_366 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_367 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_368 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_369 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_382 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:20px;
	top:737px;
}
.e572_383 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_384 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_385 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_386 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_387 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_388 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_389 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_389 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_390 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_391 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_392 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_393 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_394 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:20px;
	top:796px;
}
.e572_395 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_396 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_397 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_398 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_399 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_400 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_401 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_401 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_402 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_403 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_404 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_405 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_406 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:20px;
	top:855px;
}
.e572_407 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_408 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_409 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_410 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_411 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_412 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_413 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_413 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_414 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_415 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_416 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_417 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_418 { 
	width:1121px;
	height:32px;
	position:absolute;
	left:20px;
	top:909px;
}
.e572_419 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_420 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_421 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:417px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_422 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:560px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_423 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:695px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_424 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:899px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.572_425 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_425 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e572_426 { 
	width:84px;
	height:20px;
	position:absolute;
	left:1037px;
	top:1px;
}
.e572_427 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_428 { 
	width:15px;
	height:15px;
	position:absolute;
	left:35px;
	top:2px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_429 { 
	width:15px;
	height:15px;
	position:absolute;
	left:69px;
	top:2px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_18 { 
	width:351px;
	height:29px;
	position:absolute;
	left:880px;
	top:21px;
}
.e570_19 { 
	width:177px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e570_20 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_21 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e570_22 { 
	width:176px;
	height:29px;
	position:absolute;
	left:86px;
	top:0px;
}
.e570_23 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/editar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_24 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:27px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e570_25 { 
	width:179px;
	height:28px;
	position:absolute;
	left:172px;
	top:0px;
}
.e570_26 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/eliminar_amigo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_27 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e572_430 { 
	width:336px;
	height:29px;
	position:absolute;
	left:24px;
	top:25px;
}
.e572_431 { 
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/lupa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_432 { 
	width:27px;
	height:27px;
	position:absolute;
	left:79px;
	top:2px;
	background-image:url(images/settings_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.572_433 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_433 { 
	width:196px;
	height:29px;
	position:absolute;
	left:140px;
	top:0px;
}
.e572_434 { 
	color:rgba(201.8750050663948, 198.51042240858078, 198.51042240858078, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:18px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_435 { 
	width:18px;
	height:18px;
	position:absolute;
	left:172px;
	top:7px;
	background-image:url(images/flecha_hacia_abajo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1012 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:808px;
	position:absolute;
	left:1202px;
	top:135px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e562_1013 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:12px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e578_560 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e578_562 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e578_563 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e578_564 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e578_565 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e578_566 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e578_567 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1022 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e562_1027 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e562_1028 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e562_1029 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1030 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1031 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e562_1032 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1034 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1035 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e562_1036 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1037 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1038 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e562_1039 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1040 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1176 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e562_1177 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1178 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1173 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e562_1045 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1046 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:11px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1047 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e562_1048 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1049 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1050 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e562_1051 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1052 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1053 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e562_1054 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1055 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1056 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e562_1057 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1058 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
