.562_327 { 
	overflow:hidden;
}
.e562_327 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e562_328 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e562_329 { 
	background-color:rgba(255, 255, 255, 1);
	width:1194px;
	height:951px;
	position:absolute;
	left:20px;
	top:16px;
}
.e562_393 { 
	width:1152px;
	height:28px;
	position:absolute;
	left:24px;
	top:91px;
}
.e568_2 { 
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:0px;
}
.e562_330 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_387 { 
	width:14px;
	height:14px;
	position:absolute;
	left:91px;
	top:5px;
	background-image:url(images/ordenar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e568_3 { 
	width:124px;
	height:28px;
	position:absolute;
	left:200px;
	top:0px;
}
.e562_382 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_388 { 
	width:14px;
	height:14px;
	position:absolute;
	left:110px;
	top:3px;
	background-image:url(images/ordenar_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e568_4 { 
	width:124px;
	height:28px;
	position:absolute;
	left:428px;
	top:0px;
}
.e562_383 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_389 { 
	width:14px;
	height:14px;
	position:absolute;
	left:110px;
	top:5px;
	background-image:url(images/ordenar_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e568_5 { 
	width:124px;
	height:28px;
	position:absolute;
	left:691px;
	top:0px;
}
.e562_384 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_390 { 
	width:14px;
	height:14px;
	position:absolute;
	left:98px;
	top:3px;
	background-image:url(images/ordenar_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e568_6 { 
	width:124px;
	height:28px;
	position:absolute;
	left:904px;
	top:0px;
}
.e562_385 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_391 { 
	width:14px;
	height:14px;
	position:absolute;
	left:57px;
	top:3px;
	background-image:url(images/ordenar_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e568_7 { 
	width:124px;
	height:28px;
	position:absolute;
	left:1028px;
	top:0px;
}
.e562_386 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_392 { 
	width:14px;
	height:14px;
	position:absolute;
	left:104px;
	top:3px;
	background-image:url(images/ordenar_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.562_394 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_394 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_396 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:147px;
}
.e562_397 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_399 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_401 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_403 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_405 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_407 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_409 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_409 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_417 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:201px;
}
.e562_418 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_419 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_420 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_421 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_422 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_423 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_424 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_424 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_441 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:255px;
}
.e562_442 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_443 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_444 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_445 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_446 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_447 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_448 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_448 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_449 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:309px;
}
.e562_450 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_451 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_452 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_453 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_454 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_455 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_456 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_456 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_465 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:363px;
}
.e562_466 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_467 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_468 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_469 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_470 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_471 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_472 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_472 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_473 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:417px;
}
.e562_474 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_475 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_476 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_477 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_478 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_479 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_480 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_480 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_481 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:471px;
}
.e562_482 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_483 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_484 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_485 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_486 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_487 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_488 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_488 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_489 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:525px;
}
.e562_490 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_491 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_492 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_493 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_494 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_495 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_496 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_496 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_505 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:579px;
}
.e562_506 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_507 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_508 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_509 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_510 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_511 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_512 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_512 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_513 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:633px;
}
.e562_514 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_515 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_516 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_517 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_518 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_519 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_520 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_520 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_521 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:687px;
}
.e562_522 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_523 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_524 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_525 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_526 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_527 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_528 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_528 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_529 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:741px;
}
.e562_530 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_531 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_532 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_533 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_534 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_535 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_536 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_536 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_537 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:795px;
}
.e562_538 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_539 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_540 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_541 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_542 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_543 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_544 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_544 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_545 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:849px;
}
.e562_546 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_547 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_548 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_549 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_550 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_551 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_552 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_552 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_412 { 
	width:336px;
	height:29px;
	position:absolute;
	left:24px;
	top:25px;
}
.e562_410 { 
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/lupa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_411 { 
	width:27px;
	height:27px;
	position:absolute;
	left:79px;
	top:2px;
	background-image:url(images/settings_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.562_413 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_413 { 
	width:196px;
	height:29px;
	position:absolute;
	left:140px;
	top:0px;
}
.e562_414 { 
	color:rgba(201.8750050663948, 198.51042240858078, 198.51042240858078, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:18px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_415 { 
	width:18px;
	height:18px;
	position:absolute;
	left:172px;
	top:7px;
	background-image:url(images/flecha_hacia_abajo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_553 { 
	width:1170px;
	height:34px;
	position:absolute;
	left:24px;
	top:903px;
}
.e562_554 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:44px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_555 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:216px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_556 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:428px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_557 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:691px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_558 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:913px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_559 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:1046px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_560 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_560 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e604_332 { 
	width:351px;
	height:29px;
	position:absolute;
	left:869px;
	top:27px;
}
.e604_333 { 
	width:177px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e604_334 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e604_335 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e604_336 { 
	width:176px;
	height:29px;
	position:absolute;
	left:86px;
	top:0px;
}
.e604_337 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/editar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e604_338 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:27px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e604_339 { 
	width:179px;
	height:28px;
	position:absolute;
	left:172px;
	top:0px;
}
.e604_340 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/eliminar_amigo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e604_341 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e562_380 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:808px;
	position:absolute;
	left:1202px;
	top:135px;
}
.e562_381 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:10px;
	height:150px;
	position:absolute;
	left:0px;
	top:131px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e604_342 { 
	width:151px;
	height:25px;
	position:absolute;
	left:545px;
	top:45px;
}
.e604_347 { 
	width:151px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e604_348 { 
	width:20px;
	height:20px;
	position:absolute;
	left:127px;
	top:5px;
	background-image:url(images/caret_abajo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e604_349 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:22px;
	position:absolute;
	left:31px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e604_350 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/calendario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e617_12 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e617_13 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e617_14 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_15 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e617_16 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_17 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_339 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e562_344 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e562_345 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e562_346 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_347 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_348 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e562_349 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_351 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e562_353 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_354 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_377 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e562_356 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_357 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_358 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e562_359 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_360 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_361 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e562_362 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_363 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_364 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e562_365 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_366 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_367 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e562_368 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_369 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_370 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e562_371 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_372 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_373 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e562_374 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_375 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
