.590_626 { 
	overflow:hidden;
}
.e590_626 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e590_627 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:945px;
	position:absolute;
	left:207px;
	top:93px;
}
.e590_628 { 
	width:322px;
	height:1081px;
	position:absolute;
	left:900px;
	top:67px;
}
.e590_629 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:28px;
}
.e590_630 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_631 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:161px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_632 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_633 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_634 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_635 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_636 { 
	width:25px;
	height:25px;
	position:absolute;
	left:18px;
	top:38px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_637 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:147px;
}
.e590_638 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_639 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_640 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_641 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_642 { 
	width:32px;
	height:32px;
	position:absolute;
	left:17px;
	top:34px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_643 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:266px;
}
.e590_644 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_645 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:145px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_646 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_647 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_648 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_649 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_650 { 
	width:26px;
	height:26px;
	position:absolute;
	left:18px;
	top:37px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_651 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:385px;
}
.e590_652 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_653 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:161px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_654 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_655 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_656 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_657 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_658 { 
	width:25px;
	height:25px;
	position:absolute;
	left:21px;
	top:38px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_659 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:504px;
}
.e590_660 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_661 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_662 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_663 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_664 { 
	width:32px;
	height:32px;
	position:absolute;
	left:17px;
	top:34px;
	background-image:url(images/agregar_usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_665 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:623px;
}
.e590_666 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_667 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:145px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_668 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_669 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_670 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_671 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_672 { 
	width:26px;
	height:26px;
	position:absolute;
	left:19px;
	top:37px;
	background-image:url(images/email_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_673 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:6px;
	top:742px;
}
.e590_674 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_675 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:161px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_676 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_677 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_678 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_679 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_680 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:38px;
	background-image:url(images/llamada_telefonica_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_681 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:6px;
	top:861px;
}
.e590_682 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_683 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_684 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_685 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_686 { 
	width:46px;
	height:46px;
	position:absolute;
	left:10px;
	top:24px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_687 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:6px;
	top:980px;
}
.e590_688 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_689 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:145px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_690 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_691 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_692 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_693 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_694 { 
	width:39px;
	height:39px;
	position:absolute;
	left:15px;
	top:31px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_695 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_696 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:837px;
	position:absolute;
	left:1218px;
	top:95px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e590_697 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:12px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e590_698 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:834px;
	position:absolute;
	left:862px;
	top:80px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e590_699 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:12px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e590_700 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:84px;
}
.e590_701 { 
	width:273px;
	height:49px;
	position:absolute;
	left:22px;
	top:19px;
}
.e590_702 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:52px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_703 { 
	width:36px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/informe_de_venta_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_704 { 
	width:675px;
	height:68px;
	position:absolute;
	left:66px;
	top:87px;
}
.e590_705 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_706 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:22px;
	position:absolute;
	left:6px;
	top:46px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.590_707 { 
	border:1px solid rgba(12.750003039836884, 255, 22.439992278814316, 1);
}
.e590_707 { 
	width:675px;
	height:0px;
	position:absolute;
	left:0px;
	top:34px;
}
.e590_708 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:295px;
}
.e590_709 { 
	width:278px;
	height:53px;
	position:absolute;
	left:17px;
	top:18px;
}
.e590_710 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:57px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_711 { 
	width:37px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/productivity_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_712 { 
	width:209px;
	height:58px;
	position:absolute;
	left:70px;
	top:92px;
}
.e590_713 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:26px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_714 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:39px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_715 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:137px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_716 { 
	width:14px;
	height:14px;
	position:absolute;
	left:121px;
	top:42px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_717 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_718 { 
	width:208px;
	height:58px;
	position:absolute;
	left:322px;
	top:92px;
}
.e590_719 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:25px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_720 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:41px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_721 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:120px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_722 { 
	width:14px;
	height:14px;
	position:absolute;
	left:104px;
	top:42px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_723 { 
	width:21px;
	height:21px;
	position:absolute;
	left:0px;
	top:22px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_724 { 
	width:206px;
	height:58px;
	position:absolute;
	left:573px;
	top:92px;
}
.e590_725 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:23px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_726 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:39px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_727 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:118px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_728 { 
	transform: rotate(-180deg);
	width:14px;
	height:14px;
	position:absolute;
	left:116px;
	top:56px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_729 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:23px;
	background-image:url(images/lista_de_tareas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_730 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:506px;
}
.e590_731 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:74px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_732 { 
	width:190px;
	height:58px;
	position:absolute;
	left:49px;
	top:92px;
}
.e590_733 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:7px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_734 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:31px;
	height:22px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_735 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:58px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_736 { 
	width:14px;
	height:14px;
	position:absolute;
	left:42px;
	top:42px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_737 { 
	transform: rotate(90deg);
	width:22px;
	height:22px;
	position:absolute;
	left:207px;
	top:109px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_738 { 
	width:19px;
	height:19px;
	position:absolute;
	left:26px;
	top:94px;
	background-image:url(images/los_usuarios_del_grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_739 { 
	width:211px;
	height:58px;
	position:absolute;
	left:236px;
	top:92px;
}
.e590_740 { 
	width:211px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e590_741 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_742 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/los_usuarios_del_grupo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_743 { 
	width:127px;
	height:22px;
	position:absolute;
	left:28px;
	top:36px;
}
.e590_744 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_745 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:61px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_746 { 
	width:14px;
	height:14px;
	position:absolute;
	left:45px;
	top:6px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_747 { 
	width:206px;
	height:58px;
	position:absolute;
	left:447px;
	top:92px;
}
.e590_748 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:23px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_749 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:77px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_750 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/ganancias_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_751 { 
	width:205px;
	height:58px;
	position:absolute;
	left:654px;
	top:92px;
}
.e590_752 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:22px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_753 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:80px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_754 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/ganancias_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_755 { 
	width:30px;
	height:30px;
	position:absolute;
	left:30px;
	top:14px;
	background-image:url(images/lista_de_tareas__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_756 { 
	transform: rotate(90deg);
	width:22px;
	height:22px;
	position:absolute;
	left:418px;
	top:109px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_757 { 
	transform: rotate(90deg);
	width:22px;
	height:22px;
	position:absolute;
	left:638px;
	top:109px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_758 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:717px;
}
.e590_759 { 
	width:273px;
	height:48px;
	position:absolute;
	left:21px;
	top:19px;
}
.e590_760 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:52px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_761 { 
	width:33px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/reporte_de_negocios__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_762 { 
	box-shadow:-4px 4px 2px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:127px;
	height:47px;
	position:absolute;
	left:254px;
	top:88px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e590_763 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:55px;
	position:absolute;
	left:21px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_764 { 
	box-shadow:-4px 4px 2px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:127px;
	height:47px;
	position:absolute;
	left:434px;
	top:88px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e590_765 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:55px;
	position:absolute;
	left:33px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_766 { 
	width:359px;
	height:25px;
	position:absolute;
	left:506px;
	top:42px;
}
.e590_767 { 
	width:181px;
	height:24px;
	position:absolute;
	left:0px;
	top:1px;
}
.e590_768 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_769 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:22px;
	position:absolute;
	left:33px;
	top:2px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_770 { 
	width:20px;
	height:20px;
	position:absolute;
	left:161px;
	top:2px;
	background-image:url(images/caret_abajo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_771 { 
	width:151px;
	height:24px;
	position:absolute;
	left:208px;
	top:0px;
}
.e590_772 { 
	width:20px;
	height:20px;
	position:absolute;
	left:113px;
	top:4px;
	background-image:url(images/caret_abajo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_773 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:22px;
	position:absolute;
	left:31px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e590_774 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/calendario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_775 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e590_777 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e590_778 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e590_779 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_780 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e590_781 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_782 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_783 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e590_788 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e590_789 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e590_790 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_791 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:9px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_792 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e590_793 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_795 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_796 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e590_797 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:23px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_798 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_799 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e590_800 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_801 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_802 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e590_803 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_804 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_805 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e590_806 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_807 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_808 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e590_809 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_810 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_811 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e590_812 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_813 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_814 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e590_815 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_816 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_826 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:655px;
}
.e590_818 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_819 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:8px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e590_823 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:726px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.590_823 { 
	border:1px solid rgba(33.64583417773247, 57.67856039106846, 80.74999898672104, 1);
}
.e590_821 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e590_822 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:9px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
