.562_1489 { 
	overflow:hidden;
}
.e562_1489 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e562_1821 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e562_1998 { 
	background-color:rgba(255, 255, 255, 1);
	width:1185px;
	height:865px;
	position:absolute;
	left:27px;
	top:39px;
}
.e562_1999 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:46px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e562_2000 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:159px;
	height:75px;
	position:absolute;
	left:489px;
	top:700px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e562_2001 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:47px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e562_2002 { 
	background-color:rgba(40.00000141561031, 65.0000037252903, 89.00000229477882, 1);
	width:158px;
	height:75px;
	position:absolute;
	left:686px;
	top:700px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e562_2003 { 
	color:rgba(255, 255, 255, 1);
	width:249px;
	height:22px;
	position:absolute;
	left:30px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e562_2004 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:114px;
}
.e562_2005 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.562_2005 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2006 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:266px;
	height:22px;
	position:absolute;
	left:231px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2007 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_2008 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:186px;
}
.e562_2009 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.562_2009 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2010 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:231px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2011 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_2012 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:258px;
}
.e562_2013 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.562_2013 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2014 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:231px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2015 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_2016 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:330px;
}
.e562_2017 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.562_2017 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2033 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:20px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2018 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_2019 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:402px;
}
.e562_2020 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.562_2020 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2032 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:28px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2021 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_2022 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:474px;
}
.e562_2023 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.562_2023 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2034 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:-2px;
	top:0px;
}
.562_2034 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2035 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:28px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2024 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_2025 { 
	width:1098px;
	height:50px;
	position:absolute;
	left:46px;
	top:546px;
}
.e562_2036 { 
	background-color:rgba(255, 255, 255, 1);
	width:887px;
	height:36px;
	position:absolute;
	left:211px;
	top:0px;
}
.562_2036 { 
	border:1px solid rgba(143.00000667572021, 142.00000673532486, 142.00000673532486, 1);
}
.e562_2038 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:26px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2027 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_2040 { 
	background-color:rgba(222.06250101327896, 218.36145401000977, 218.36145401000977, 0.5);
	width:1185px;
	height:865px;
	position:absolute;
	left:27px;
	top:39px;
}
.e562_2075 { 
	background-color:rgba(255, 255, 255, 1);
	width:851px;
	height:228px;
	position:absolute;
	left:231px;
	top:290px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e562_2076 { 
	color:rgba(132.8125101327896, 159.69375729560852, 255, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:41px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e562_2083 { 
	color:rgba(132.8125101327896, 159.69375729560852, 255, 1);
	width:137px;
	height:22px;
	position:absolute;
	left:62px;
	top:75px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2084 { 
	color:rgba(132.8125101327896, 159.69375729560852, 255, 1);
	width:137px;
	height:22px;
	position:absolute;
	left:238px;
	top:75px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2085 { 
	color:rgba(132.8125101327896, 159.69375729560852, 255, 1);
	width:137px;
	height:22px;
	position:absolute;
	left:414px;
	top:75px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_2077 { 
	background-color:rgba(80.74999898672104, 98.17502796649933, 255, 1);
	width:21px;
	height:21px;
	position:absolute;
	left:28px;
	top:72px;
}
.e562_2078 { 
	width:15px;
	height:15px;
	position:absolute;
	left:4px;
	top:3px;
	background-image:url(images/garrapata_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_2079 { 
	background-color:rgba(80.74999898672104, 98.17502796649933, 255, 1);
	width:21px;
	height:21px;
	position:absolute;
	left:212px;
	top:72px;
}
.e562_2080 { 
	width:15px;
	height:15px;
	position:absolute;
	left:4px;
	top:3px;
	background-image:url(images/garrapata_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_2081 { 
	background-color:rgba(255, 255, 255, 1);
	width:21px;
	height:21px;
	position:absolute;
	left:388px;
	top:72px;
}
.562_2081 { 
	border:1px solid rgba(80.74999898672104, 98.17502796649933, 255, 1);
}
.e562_2086 { 
	background-color:rgba(101.99999392032623, 135.66000133752823, 255, 1);
	width:86px;
	height:38px;
	position:absolute;
	left:758px;
	top:174px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e562_2087 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:5px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_2090 { 
	background-color:rgba(255, 255, 255, 1);
	width:86px;
	height:38px;
	position:absolute;
	left:654px;
	top:174px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.562_2090 { 
	border:1px solid rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
}
.e562_2091 { 
	color:rgba(127.5, 126.43750101327896, 126.43750101327896, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:8px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_2092 { 
	width:24px;
	height:24px;
	position:absolute;
	left:822px;
	top:4px;
	background-image:url(images/cerrar__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e600_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e600_4 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e600_5 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e600_6 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e600_7 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e600_8 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e600_9 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1641 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e562_1646 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e562_1647 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e562_1648 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1649 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1650 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e562_1651 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1653 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1654 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e562_1655 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1656 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1657 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e562_1658 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1659 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1660 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e562_1661 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1662 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1663 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e562_1664 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1665 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1666 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e562_1667 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1668 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:10px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1669 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e562_1670 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1671 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1672 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e562_1673 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1674 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1675 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e562_1676 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1677 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
