.562_1179 { 
	overflow:hidden;
}
.e562_1179 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e562_1180 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e562_1181 { 
	background-color:rgba(255, 255, 255, 1);
	width:1194px;
	height:951px;
	position:absolute;
	left:20px;
	top:16px;
}
.e562_1182 { 
	width:1173px;
	height:28px;
	position:absolute;
	left:24px;
	top:91px;
}
.e572_38 { 
	width:124px;
	height:28px;
	position:absolute;
	left:79px;
	top:0px;
}
.e562_1183 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_1184 { 
	width:14px;
	height:14px;
	position:absolute;
	left:56px;
	top:5px;
	background-image:url(images/ordenar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_39 { 
	width:168px;
	height:28px;
	position:absolute;
	left:200px;
	top:0px;
}
.e562_1185 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:168px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_1186 { 
	width:14px;
	height:14px;
	position:absolute;
	left:147px;
	top:4px;
	background-image:url(images/ordenar_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_40 { 
	width:149px;
	height:28px;
	position:absolute;
	left:395px;
	top:0px;
}
.e562_1187 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_1188 { 
	width:14px;
	height:14px;
	position:absolute;
	left:62px;
	top:4px;
	background-image:url(images/ordenar_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_41 { 
	width:133px;
	height:28px;
	position:absolute;
	left:508px;
	top:0px;
}
.e562_1190 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_1191 { 
	width:14px;
	height:14px;
	position:absolute;
	left:119px;
	top:5px;
	background-image:url(images/ordenar_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_42 { 
	width:156px;
	height:28px;
	position:absolute;
	left:693px;
	top:0px;
}
.e562_1192 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:156px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_1193 { 
	width:14px;
	height:14px;
	position:absolute;
	left:78px;
	top:5px;
	background-image:url(images/ordenar_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_43 { 
	width:124px;
	height:28px;
	position:absolute;
	left:813px;
	top:0px;
}
.e562_1194 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_1195 { 
	width:14px;
	height:14px;
	position:absolute;
	left:104px;
	top:5px;
	background-image:url(images/ordenar_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_44 { 
	width:124px;
	height:28px;
	position:absolute;
	left:931px;
	top:0px;
}
.e562_1376 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e562_1377 { 
	width:14px;
	height:14px;
	position:absolute;
	left:102px;
	top:5px;
	background-image:url(images/ordenar_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_47 { 
	width:124px;
	height:28px;
	position:absolute;
	left:1049px;
	top:0px;
}
.e572_48 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.562_1196 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_1196 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.e562_1197 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:115px;
}
.e562_1198 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_1199 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_1200 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_1201 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_1202 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_1203 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e562_1226 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.562_1380 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_1380 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_185 { 
	width:20px;
	height:56px;
	position:absolute;
	left:1104px;
	top:0px;
}
.e572_50 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_51 { 
	width:15px;
	height:15px;
	position:absolute;
	left:4px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_52 { 
	width:15px;
	height:15px;
	position:absolute;
	left:4px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_53 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:190px;
}
.e572_54 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_55 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_56 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_57 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_58 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_59 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_60 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_61 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_61 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_62 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_63 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_64 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_65 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:265px;
}
.e572_66 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_67 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_68 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_69 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_70 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_71 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_72 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_73 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_73 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_74 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_75 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_76 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_77 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:340px;
}
.e572_78 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_79 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_80 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_81 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_82 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_83 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_84 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_85 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_85 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_86 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_87 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_88 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_89 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:415px;
}
.e572_90 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_91 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_92 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_93 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_94 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_95 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_96 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_97 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_97 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_98 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_99 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_100 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_101 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:490px;
}
.e572_102 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_103 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_104 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_105 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_106 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_107 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_108 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_109 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_109 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_110 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_111 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_112 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_113 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:565px;
}
.e572_114 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_115 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_116 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_117 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_118 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_119 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_120 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_121 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_121 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_122 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_123 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_124 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_125 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:640px;
}
.e572_126 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_127 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_128 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_129 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_130 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_131 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_132 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_133 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_133 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_134 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_135 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_136 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_137 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:715px;
}
.e572_138 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_139 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_140 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_141 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_142 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_143 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_144 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_145 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_145 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_146 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_147 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_148 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_149 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:790px;
}
.e572_150 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_151 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_152 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_153 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_154 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_155 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_156 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_157 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_157 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_158 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_159 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_160 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_161 { 
	width:1124px;
	height:64px;
	position:absolute;
	left:24px;
	top:865px;
}
.e572_162 { 
	color:rgba(118.99999290704727, 132.6000103354454, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:50px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_163 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:209px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_164 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:395px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_165 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:529px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_166 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:28px;
	position:absolute;
	left:685px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e572_167 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:821px;
	top:35px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e572_168 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:954px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.572_169 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e572_169 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
}
.e572_170 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1104px;
	top:0px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_171 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:22px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_172 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1108px;
	top:41px;
	background-image:url(images/whatsapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1317 { 
	width:336px;
	height:29px;
	position:absolute;
	left:24px;
	top:25px;
}
.e562_1318 { 
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/lupa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1319 { 
	width:27px;
	height:27px;
	position:absolute;
	left:79px;
	top:2px;
	background-image:url(images/settings_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.562_1320 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}
.e562_1320 { 
	width:196px;
	height:29px;
	position:absolute;
	left:140px;
	top:0px;
}
.e562_1321 { 
	color:rgba(201.8750050663948, 198.51042240858078, 198.51042240858078, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:18px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e562_1322 { 
	width:18px;
	height:18px;
	position:absolute;
	left:172px;
	top:7px;
	background-image:url(images/flecha_hacia_abajo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_28 { 
	width:351px;
	height:29px;
	position:absolute;
	left:892px;
	top:27px;
}
.e570_29 { 
	width:177px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e570_30 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_31 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e570_32 { 
	width:176px;
	height:29px;
	position:absolute;
	left:86px;
	top:0px;
}
.e570_33 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/editar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_34 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:27px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e570_35 { 
	width:179px;
	height:28px;
	position:absolute;
	left:172px;
	top:0px;
}
.e570_36 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/eliminar_amigo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e570_37 { 
	color:rgba(75.00000312924385, 185.00000417232513, 236.00000113248825, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e562_1323 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:808px;
	position:absolute;
	left:1202px;
	top:135px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e562_1324 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:12px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e578_552 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e578_554 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e578_555 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e578_556 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e578_557 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e578_558 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e578_559 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1333 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e562_1338 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e562_1339 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e562_1340 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1341 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1342 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e562_1343 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1345 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1346 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e562_1347 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1348 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1349 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e562_1350 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1351 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e562_1353 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1354 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1373 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e562_1374 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1375 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1370 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e562_1359 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1360 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:10px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1361 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e562_1362 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1363 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1364 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e562_1365 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1366 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e562_1367 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e562_1368 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e562_1369 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
