.557_29 { 
	overflow:hidden;
}
.e557_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e557_30 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e561_249 { 
	width:454px;
	height:1016px;
	position:absolute;
	left:75px;
	top:1px;
}
.e557_137 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:228px;
	position:absolute;
	left:0px;
	top:12px;
}
.e557_138 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:74px;
	top:33px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e557_139 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:92px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e559_160 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:141px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_194 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:184px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e559_159 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:141px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e559_162 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:184px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e559_157 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:23px;
	background-image:url(images/atencion_al_cliente_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e559_158 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:131px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e559_163 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:83px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e559_161 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:175px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_195 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:0px;
	top:248px;
}
.e560_197 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_198 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_199 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_200 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_201 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_203 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_204 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_205 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_207 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:1px;
	top:442px;
}
.e560_208 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_209 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_210 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_211 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_212 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_213 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_214 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_215 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_216 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:1px;
	top:636px;
}
.e560_217 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_218 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_219 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_220 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_221 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_222 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_223 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_224 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_225 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:1px;
	top:830px;
}
.e560_226 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_227 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_228 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e560_229 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_230 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e560_231 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_232 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e560_233 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_237 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:927px;
	position:absolute;
	left:442px;
	top:0px;
}
.e561_236 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:10px;
	height:426px;
	position:absolute;
	left:1px;
	top:294px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e561_250 { 
	width:454px;
	height:927px;
	position:absolute;
	left:665px;
	top:1px;
}
.e561_251 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:228px;
	position:absolute;
	left:0px;
	top:12px;
}
.e561_252 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:74px;
	top:33px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e561_253 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:92px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_254 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:141px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_255 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:184px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_256 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:141px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_257 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:184px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e562_376 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:24px;
	background-image:url(images/contactos_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_259 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:131px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_260 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:83px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_261 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:175px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_262 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:0px;
	top:248px;
}
.e561_263 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_264 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_265 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_266 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_267 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_268 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_269 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_270 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_300 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:0px;
	top:442px;
}
.e561_301 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_302 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_303 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_304 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_305 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_306 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_307 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_308 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_298 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:927px;
	position:absolute;
	left:442px;
	top:0px;
}
.e561_299 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:10px;
	height:50px;
	position:absolute;
	left:1px;
	top:294px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e561_309 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:665px;
	top:637px;
}
.e561_310 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_311 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_312 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_313 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_314 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_315 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_316 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_317 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_318 { 
	background-color:rgba(255, 255, 255, 1);
	width:439px;
	height:186px;
	position:absolute;
	left:665px;
	top:831px;
}
.e561_319 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_320 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:359px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_321 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:359px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e561_322 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_323 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:276px;
	height:22px;
	position:absolute;
	left:73px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_324 { 
	width:36px;
	height:36px;
	position:absolute;
	left:18px;
	top:74px;
	background-image:url(images/llamada_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_325 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/nombre_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e561_326 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:118px;
	background-image:url(images/correo_electronico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e617_20 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e617_21 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e617_22 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_23 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e617_24 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_25 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_73 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e557_78 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e557_79 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e557_80 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_81 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_110 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:72px;
}
.e557_111 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_113 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_86 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e557_87 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_88 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:9px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_89 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e557_90 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_91 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_92 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e557_93 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_94 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_95 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e557_96 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_97 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_98 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e557_99 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_100 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_101 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e557_102 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_103 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_104 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e557_105 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_106 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e557_107 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e557_108 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e557_109 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
