.576_306 { 
	overflow:hidden;
}
.e576_306 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e576_307 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:945px;
	position:absolute;
	left:207px;
	top:93px;
}
.e576_399 { 
	width:322px;
	height:1081px;
	position:absolute;
	left:900px;
	top:67px;
}
.e576_323 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:28px;
}
.e576_326 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_327 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:161px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_328 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_386 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_387 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_388 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_389 { 
	width:25px;
	height:25px;
	position:absolute;
	left:18px;
	top:38px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_390 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:147px;
}
.e576_391 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_393 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_394 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_395 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_398 { 
	width:32px;
	height:32px;
	position:absolute;
	left:17px;
	top:34px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_400 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:266px;
}
.e576_401 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_402 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:145px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_403 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_404 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_405 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_406 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_408 { 
	width:26px;
	height:26px;
	position:absolute;
	left:18px;
	top:37px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_409 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:385px;
}
.e576_410 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_411 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:161px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_412 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_413 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_414 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_415 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_416 { 
	width:25px;
	height:25px;
	position:absolute;
	left:21px;
	top:38px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_417 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:504px;
}
.e576_418 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_419 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_420 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_421 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_520 { 
	width:32px;
	height:32px;
	position:absolute;
	left:17px;
	top:34px;
	background-image:url(images/agregar_usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_423 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:0px;
	top:623px;
}
.e576_424 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_425 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:145px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_426 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_427 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_428 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_429 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_521 { 
	width:26px;
	height:26px;
	position:absolute;
	left:19px;
	top:37px;
	background-image:url(images/email_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_431 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:6px;
	top:742px;
}
.e576_432 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_433 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:161px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_434 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_435 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_436 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_437 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_522 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:38px;
	background-image:url(images/llamada_telefonica_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_439 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:6px;
	top:861px;
}
.e576_440 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_441 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_442 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_443 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_444 { 
	width:46px;
	height:46px;
	position:absolute;
	left:10px;
	top:24px;
	background-image:url(images/agregar_usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_445 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:101px;
	position:absolute;
	left:6px;
	top:980px;
}
.e576_446 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_447 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:145px;
	height:25px;
	position:absolute;
	left:141px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_448 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:141px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_449 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:45px;
	height:30px;
	position:absolute;
	left:70px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_450 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_451 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:70px;
	top:67px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_452 { 
	width:39px;
	height:39px;
	position:absolute;
	left:15px;
	top:31px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_324 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_453 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:837px;
	position:absolute;
	left:1218px;
	top:95px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e576_454 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:12px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e576_467 { 
	background-color:rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width:12px;
	height:834px;
	position:absolute;
	left:862px;
	top:80px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e576_468 { 
	background-color:rgba(176.37499898672104, 173.43541592359543, 173.43541592359543, 1);
	width:12px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e576_331 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:84px;
}
.e576_550 { 
	width:273px;
	height:49px;
	position:absolute;
	left:22px;
	top:19px;
}
.e576_332 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:52px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_537 { 
	width:36px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/informe_de_venta_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_551 { 
	width:675px;
	height:68px;
	position:absolute;
	left:66px;
	top:87px;
}
.e576_333 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_549 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:108px;
	height:22px;
	position:absolute;
	left:6px;
	top:46px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.576_539 { 
	border:1px solid rgba(12.750003039836884, 255, 22.439992278814316, 1);
}
.e576_539 { 
	width:675px;
	height:0px;
	position:absolute;
	left:0px;
	top:34px;
}
.e576_455 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:295px;
}
.e576_474 { 
	width:278px;
	height:53px;
	position:absolute;
	left:17px;
	top:18px;
}
.e576_456 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:57px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_472 { 
	width:37px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/productivity_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_473 { 
	width:209px;
	height:58px;
	position:absolute;
	left:70px;
	top:92px;
}
.e576_457 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:26px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_469 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:39px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_471 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:137px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_470 { 
	width:14px;
	height:14px;
	position:absolute;
	left:121px;
	top:42px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_480 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:23px;
	background-image:url(images/llamada_telefonica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_475 { 
	width:208px;
	height:58px;
	position:absolute;
	left:322px;
	top:92px;
}
.e576_476 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:25px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_477 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:41px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_478 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:120px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_479 { 
	width:14px;
	height:14px;
	position:absolute;
	left:104px;
	top:42px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_482 { 
	width:21px;
	height:21px;
	position:absolute;
	left:0px;
	top:22px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_483 { 
	width:206px;
	height:58px;
	position:absolute;
	left:573px;
	top:92px;
}
.e576_484 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:23px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_485 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:39px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_486 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:118px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_487 { 
	transform: rotate(-180deg);
	width:14px;
	height:14px;
	position:absolute;
	left:116px;
	top:56px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_490 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:23px;
	background-image:url(images/lista_de_tareas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_459 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:506px;
}
.e576_460 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:74px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_491 { 
	width:190px;
	height:58px;
	position:absolute;
	left:49px;
	top:92px;
}
.e576_492 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:7px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_493 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:31px;
	height:22px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_494 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:58px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_495 { 
	width:14px;
	height:14px;
	position:absolute;
	left:42px;
	top:42px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_523 { 
	transform: rotate(90deg);
	width:22px;
	height:22px;
	position:absolute;
	left:207px;
	top:109px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_516 { 
	width:19px;
	height:19px;
	position:absolute;
	left:26px;
	top:94px;
	background-image:url(images/los_usuarios_del_grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_497 { 
	width:211px;
	height:58px;
	position:absolute;
	left:236px;
	top:92px;
}
.e576_524 { 
	width:211px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e576_498 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_517 { 
	width:19px;
	height:19px;
	position:absolute;
	left:0px;
	top:2px;
	background-image:url(images/los_usuarios_del_grupo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_525 { 
	width:127px;
	height:22px;
	position:absolute;
	left:28px;
	top:36px;
}
.e576_499 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_500 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:61px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_501 { 
	width:14px;
	height:14px;
	position:absolute;
	left:45px;
	top:6px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_503 { 
	width:206px;
	height:58px;
	position:absolute;
	left:447px;
	top:92px;
}
.e576_504 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:23px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_505 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:77px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_518 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/ganancias_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_509 { 
	width:205px;
	height:58px;
	position:absolute;
	left:654px;
	top:92px;
}
.e576_510 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:183px;
	height:22px;
	position:absolute;
	left:22px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_511 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:34px;
	height:22px;
	position:absolute;
	left:80px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_519 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(images/ganancias_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_515 { 
	width:30px;
	height:30px;
	position:absolute;
	left:30px;
	top:14px;
	background-image:url(images/lista_de_tareas__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_526 { 
	transform: rotate(90deg);
	width:22px;
	height:22px;
	position:absolute;
	left:418px;
	top:109px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_527 { 
	transform: rotate(90deg);
	width:22px;
	height:22px;
	position:absolute;
	left:638px;
	top:109px;
	background-image:url(images/flecha_de_chevron_hacia_arriba_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_463 { 
	background-color:rgba(255, 255, 255, 1);
	width:835px;
	height:196px;
	position:absolute;
	left:24px;
	top:717px;
}
.e576_536 { 
	width:273px;
	height:48px;
	position:absolute;
	left:21px;
	top:19px;
}
.e576_464 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:52px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_535 { 
	width:33px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/reporte_de_negocios__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_528 { 
	box-shadow:-4px 4px 2px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:127px;
	height:47px;
	position:absolute;
	left:254px;
	top:88px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e576_529 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:55px;
	position:absolute;
	left:21px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_532 { 
	box-shadow:-4px 4px 2px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:127px;
	height:47px;
	position:absolute;
	left:434px;
	top:88px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e576_533 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:55px;
	position:absolute;
	left:33px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_548 { 
	width:359px;
	height:25px;
	position:absolute;
	left:506px;
	top:42px;
}
.e576_547 { 
	width:181px;
	height:24px;
	position:absolute;
	left:0px;
	top:1px;
}
.e576_541 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_540 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:22px;
	position:absolute;
	left:33px;
	top:2px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_542 { 
	width:20px;
	height:20px;
	position:absolute;
	left:161px;
	top:2px;
	background-image:url(images/caret_abajo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_546 { 
	width:151px;
	height:24px;
	position:absolute;
	left:208px;
	top:0px;
}
.e576_545 { 
	width:20px;
	height:20px;
	position:absolute;
	left:113px;
	top:4px;
	background-image:url(images/caret_abajo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_544 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:120px;
	height:22px;
	position:absolute;
	left:31px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e576_543 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/calendario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_335 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e576_337 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e576_338 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e576_339 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_340 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e576_341 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_342 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_343 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e576_348 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e576_380 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
}
.e576_350 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_351 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:9px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e576_353 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_355 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_356 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e576_357 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:23px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_358 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_359 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e576_360 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_361 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_362 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e576_363 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_364 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_365 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e576_366 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_367 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_368 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e576_369 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_370 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_371 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e576_372 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_373 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_374 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e576_375 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_376 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e576_383 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:655px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.576_383 { 
	border:1px solid rgba(33.64583417773247, 57.67856039106846, 80.74999898672104, 1);
}
.e576_378 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e576_379 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:8px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
