.554_107 { 
	overflow:hidden;
}
.e554_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e555_169 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1233px;
	height:945px;
	position:absolute;
	left:207px;
	top:93px;
}
.e555_170 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:359px;
	position:absolute;
	left:479px;
	top:79px;
}
.e555_171 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:95px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e555_176 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:99px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_177 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:132px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_178 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:165px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_179 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:198px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_180 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:231px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_181 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:264px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_182 { 
	width:40px;
	height:40px;
	position:absolute;
	left:33px;
	top:26px;
	background-image:url(images/editar_texto_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_250 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:359px;
	position:absolute;
	left:84px;
	top:516px;
}
.e555_251 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:95px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e555_252 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:205px;
	height:25px;
	position:absolute;
	left:95px;
	top:99px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_253 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:132px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_254 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:95px;
	top:165px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_259 { 
	width:40px;
	height:40px;
	position:absolute;
	left:25px;
	top:28px;
	background-image:url(images/configuracion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_172 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:359px;
	position:absolute;
	left:874px;
	top:79px;
}
.e555_173 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:74px;
	top:33px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e555_183 { 
	width:40px;
	height:40px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/administrador_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_185 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:72px;
	top:107px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_186 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:72px;
	top:140px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_187 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:72px;
	top:173px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_188 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:72px;
	top:206px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_189 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:171px;
	height:25px;
	position:absolute;
	left:72px;
	top:239px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_241 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:359px;
	position:absolute;
	left:84px;
	top:79px;
}
.e555_242 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:221px;
	height:45px;
	position:absolute;
	left:74px;
	top:33px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e555_244 { 
	color:rgba(143.4375, 141.64452821016312, 141.64452821016312, 1);
	width:223px;
	height:22px;
	position:absolute;
	left:74px;
	top:92px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e555_249 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:27px;
	background-image:url(images/base_de_datos_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:1440px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e617_44 { 
	width:1233px;
	height:930px;
	position:absolute;
	left:207px;
	top:94px;
}
.e617_45 { 
	width:184px;
	height:51px;
	position:absolute;
	left:1247px;
	top:22px;
}
.e617_46 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/usuario_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_47 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:45px;
	position:absolute;
	left:57px;
	top:6px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e617_48 { 
	width:40px;
	height:40px;
	position:absolute;
	left:144px;
	top:2px;
	background-image:url(images/cerrar_sesion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e617_49 { 
	box-shadow:2px 1px 3px rgba(255, 255, 255, 1);
	width:193px;
	height:65px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/logo2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_118 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:930px;
	position:absolute;
	left:0px;
	top:94px;
}
.e554_123 { 
	width:207px;
	height:859px;
	position:absolute;
	left:0px;
	top:71px;
}
.e554_124 { 
	background-color:rgba(30.00000011175871, 57.00000040233135, 83.00000265240669, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.554_124 { 
	border:1px solid rgba(33.64583417773247, 57.67856039106846, 80.74999898672104, 1);
}
.e554_125 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_126 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:9px;
	background-image:url(images/ajustes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_127 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:73px;
}
.e554_128 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_130 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/usuario_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_131 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:147px;
}
.e554_132 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_133 { 
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:7px;
	background-image:url(images/documento_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_134 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:221px;
}
.e554_135 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_136 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:7px;
	background-image:url(images/capas_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_137 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:293px;
}
.e554_138 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_139 { 
	width:40px;
	height:40px;
	position:absolute;
	left:9px;
	top:7px;
	background-image:url(images/directorio_telefonico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_140 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:366px;
}
.e554_141 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_142 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/grupo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_143 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:440px;
}
.e554_144 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_145 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/usuario__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_146 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:512px;
}
.e554_147 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_148 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/tienda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_149 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:584px;
}
.e554_150 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_151 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/capas_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_152 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(56.45859405398369, 91.077920794487, 124.31250303983688, 1);
	width:207px;
	height:54px;
	position:absolute;
	left:0px;
	top:656px;
}
.e554_153 { 
	box-shadow:0px 4px 0px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:43px;
	position:absolute;
	left:63px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e554_154 { 
	width:40px;
	height:40px;
	position:absolute;
	left:13px;
	top:7px;
	background-image:url(images/lista_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
